/* 
    Document   : empreendimentos.css
    Author     : Invento Casa Criativa
*/

/* +body */
.texto-introducao { max-width:560px; color: #4e4178; font-size: 12px; font-weight: 100; line-height: 180%; }
.lista-empreendimentos li { position: relative; overflow: hidden;  }
/* .lista-empreendimentos li::after { content: "+"; height: 32px; width: 32px; position: absolute; right:10px; bottom: 10px; background:#fff; color: #4e4178; text-align: center; line-height: 21px; font-size: 45px; font-weight: 300; font-family: 'Dosis', sans-serif; } */
.lista-empreendimentos h2 { font-size: 25px; color: #fff; font-family: 'Dosis', sans-serif; letter-spacing:.05em; text-transform: uppercase; position: absolute; left: 13px; bottom: 18px; z-index: 10; }
.lista-empreendimentos h2 span { margin-left: 2px; display: block; font-size: 17px; text-transform: lowercase; }
.lista-empreendimentos li:hover img.capa{ opacity: 0.6; }
.lista-empreendimentos li img.capa { display: block;
    position: relative;
    transform: translate(0%,-32%);
    transition: .4s all;
    width: 100%;
}
.lista-empreendimentos li a .logo-empreendimento { position: absolute; bottom: 5px; right: 5px;	width: 100px; }
.lista-empreendimentos li a .logo-empreendimento img{ width: 100%; }

@media screen and (max-width: 768px)  {
	.container { margin-bottom: 50px; }
	h1 { margin-bottom: 15px; }
	.lista-empreendimentos {  padding-top: 20px; }
	.lista-empreendimentos li { height: 300px; margin-bottom: 10px; }
}

@media screen and (min-width: 769px)  {
	.container { margin-bottom: 92px; }
	h1 { float: left; margin-right: 65px; }
	.texto-introducao { float:left; margin: 13px 0 0 0; }
	.lista-empreendimentos {  padding-top: 90px; clear: both; }
	.lista-empreendimentos li { float: left; width:33.3333%; height: 358px; }
	.lista-empreendimentos li a{ cursor: default; }
	
}

@media screen and (min-width: 992px)  {
	.lista-empreendimentos h2 { font-size: 30px; }
}

@media screen and (min-width: 1170px)  {
   
}